APP_NAME=mern-ts-app
APP_ENV=development
APP_PORT=5001
APP_URL=http://localhost:5001
APP_DB_URI=mongodb://localhost:27017/mern-ts-app
APP_JWT_SECRET=your_jwt_secret
APP_LOG_LEVEL=info
NODE_ENV=local


# database configuration
DB_CONNECTION=mongodb
DB_HOST=localhost
DB_PORT=27017
DB_NAME=app-share-music