APP_NAME=mern-ts-app
APP_ENV=development
APP_PORT=5001
APP_URL=http://localhost:5001
APP_DB_URI=mongodb://localhost:27017/mern-ts-app
APP_JWT_SECRET=your_jwt_secret
APP_LOG_LEVEL=info
NODE_ENV=local


# database configuration
DB_CONNECTION=mongodb
DB_HOST=localhost
DB_PORT=27017
DB_NAME=app-share-music

# MongoDB Atlas connection string
DB_CONNECTION_PROD=mongodb+srv
DB_HOST_PROD=longdev.yxk8xva.mongodb.net
DB_NAME_PROD=admin
DB_USER_PROD=longdh2dev
DB_PASSWORD_PROD=hailong30100128
DB_DNS_PROD=mongodb+srv://longdh2dev:hailong30100128@longdev.yxk8xva.mongodb.net/?retryWrites=true&w=majority&appName=longdev