APP_NAME=mern-ts-app
APP_ENV=development
APP_PORT=5001
APP_URL=http://localhost:5001
APP_DB_URI=mongodb://localhost:27017/mern-ts-app
APP_LOG_LEVEL=info
NODE_ENV=production

# database configuration
DB_CONNECTION=mongodb
DB_HOST=localhost
DB_PORT=27017
DB_NAME=app-share-music
DB_USER=root
DB_PASSWORD=123456
DB_DNS=
DB_QUERY=?authSource=admin

# MongoDB Atlas connection string
DB_CONNECTION_PROD=
DB_HOST_PROD=
DB_PORT_PROD=
DB_NAME_PROD=
DB_USER_PROD=
DB_PASSWORD_PROD=
DB_QUERY_PROD=
# domain prod
# https://app-share-music.onrender.com
